@charset "UTF-8";

.search{
	padding:10px;
	text-align:center;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	margin:10px 5px;
	background-color: white;
}

.searchWindow{
	width:50%;
}